* {
    margin: 10;
    padding: 0;
}

body {
    background-color: aquamarine;
    height: 600px;
}

.barier {
    height: 10%;
    width: 100%;
    display: inline-block;
    background-color: black;
}

.road {
    height: 40%;
    width: 49%;
    display: inline-block;
    background-color: aquamarine;
    font-size: 32px;
    font-weight: bold;
}
.enter{
    text-align: left;
}
.exit{
    text-align: right;
}

.parking_lot1{
    padding: 0 0 0 0;
    height: 40%;
    width: 10%;
    background-color: green;
    display: inline-block;
    border: 3px solid black;
}

.parking_lot2{
    padding: 0 0 0 0;
    height: 40%;
    width: 10%;
    background-color: red;
    display: inline-block;
    border: 3px solid black;
}

.parking_lot3{
    padding: 0 0 0 0;
    height: 40%;;
    width: 10%;
    background-color: red;
    display: inline-block;
    border: 3px solid black;
}
.parking_lot4{
    padding: 0 0 0 0;
    height: 40%;
    width: 10%;
    background-color: red;
    display: inline-block;
    border: 3px solid black;
}