body{
    background-color: aquamarine;
}
div .a{
    text-align: center;
}
h1{
    color: blue;
}
#result{
    color: red;
}

#ps1{
    color: green;
}

#ps2{
    color: green;
}

#ps3{
    color: green;
}